$grayColor: #DDDDDD;
$darkGrayColor: #484A4C;
$whiteColor: #FFFFFF;
$darkBlueColor: #134880;
$fontSourceSansPro: 'Source Sans Pro', sans-serif;
$fontHelveticaNeue: 'Helvetica Neue', sans-serif;
$columnWidth: 60px;
$imgBorderRadius:5px;
$clipPath:polygon(-100vW 0%, 100% 0%, 100% 100%, -100vW 100%);
